In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('labels2.csv')
df2 = pd.read_csv('recon2.csv')
df1 = df1[df1['n_z'] > 0]

In [3]:
df3 = pd.concat([df1,df2], axis=1, join="inner")
df3.head()

,x-entry,y-entry,z-entry,n_x,n_y,n_z,number_eh_pairs,y-local,pt,cotAlpha,...,263,264,265,266,267,268,269,270,271,272
1,51.459904,-11.965615,0.0,-2.098277,0.138679,1.374243,10807,3.52854,-1.38604,-1.526860,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-324.085876,-14.225886,0.0,26.522373,0.553523,3.711333,51642,4.36321,3.76543,7.146320,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,28.078850,21.450174,0.0,-1.987886,-0.165043,3.005056,7107,-1.11508,3.00838,-0.661514,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,305.547272,-3.939936,0.0,-13.911381,0.378020,2.616234,50226,4.79028,-2.64134,-5.317331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,65.106812,4.811504,0.0,-2.056794,0.783059,4.530593,6247,4.92349,-4.60323,-0.453979,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df3.drop('n_x', axis=1, inplace=True)
df3.drop('n_y', axis=1, inplace=True)
#df3.drop('n_z', axis=1, inplace=True)
df3.drop('cotAlpha',axis = 1, inplace=True)
df3.drop('cotBeta',axis = 1, inplace=True)
df3.drop('number_eh_pairs', axis=1, inplace=True)
df3.drop('x-entry', axis=1, inplace=True)
df3.drop('y-entry', axis=1, inplace=True)

In [5]:
df3 = df3[df3['z-entry'] == 0]

In [6]:
df3=df3[df3['pt'] > 3]
df3

,z-entry,n_z,y-local,pt,0,1,2,3,4,5,...,263,264,265,266,267,268,269,270,271,272
4,0.0,3.711333,4.363210,3.76543,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,3.005056,-1.115080,3.00838,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,0.0,4.313319,4.118220,4.36151,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,0.0,3.295605,-0.220683,3.29679,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111,0.0,2.957151,-6.022410,3.00626,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499869,0.0,3.140014,0.419109,3.13438,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499894,0.0,4.663591,-5.975970,4.74459,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499939,0.0,4.784922,0.461166,4.78886,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499944,0.0,4.441434,1.715870,4.42993,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499946,0.0,4.558909,-2.277620,4.56809,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df3 = df3.drop(['pt'], axis=1)
df3.drop('z-entry', axis=1, inplace=True)
df3.drop('n_z', axis=1, inplace=True)

df3.to_csv('ptGreaterThan3.csv', index=False)
df3

,y-local,0,1,2,3,4,5,6,7,8,...,263,264,265,266,267,268,269,270,271,272
4,4.363210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,-1.115080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,4.118220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,-0.220683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111,-6.022410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499869,0.419109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499894,-5.975970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499939,0.461166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499944,1.715870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499946,-2.277620,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0