In [1]:
import pandas as pd
import numpy as np
#reference: https://numpy.org/doc/1.20/user/basics.types.html

In [2]:
df3 = pd.read_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/TestSetWithIntegerYLocal.csv')

In [3]:
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,0.0,3.0,3.0,11.0,12.0,6.0,0.0,0.0,0.0,0.0,0.0,3.0
1,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
2,0.0,0.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
3,0.0,0.0,0.0,0.0,0.0,1.0,15.0,9.0,0.0,0.0,0.0,0.0,0.0,7.0
4,0.0,0.0,0.0,1.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410483,0.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
410484,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
410485,0.0,0.0,0.0,0.0,0.0,6.0,11.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0
410486,0.0,0.0,0.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
410487,0.0,0.0,6.0,7.0,6.0,7.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
df3.dtypes

0          float64
1          float64
2          float64
3          float64
4          float64
5          float64
6          float64
7          float64
8          float64
9          float64
10         float64
11         float64
12         float64
y-local    float64
dtype: object

In [5]:
df4 = df3.astype(np.uint8)
df4

        0  1  2  3   4   5   6  7  8  9  10  11  12  y-local
0       0  0  0  3   3  11  12  6  0  0   0   0   0        3
1       0  0  0  0   0   0   6  0  0  0   0   0   0        9
2       0  0  0  9   7   0   0  0  0  0   0   0   0        7
3       0  0  0  0   0   1  15  9  0  0   0   0   0        7
4       0  0  0  1   3   4   3  0  0  0   0   0   0        2
...    .. .. .. ..  ..  ..  .. .. .. ..  ..  ..  ..      ...
410483  0  0  0  0  10  10   0  0  0  0   0   0   0        8
410484  0  0  0  4   4   0   0  0  0  0   0   0   0        9
410485  0  0  0  0   0   6  11  1  0  0   0   0   0        7
410486  0  0  0  3   3   2   0  0  0  0   0   0   0        4
410487  0  0  6  7   6   7   7  3  0  0   0   0   0        1

[410488 rows x 14 columns]

In [6]:
df4.dtypes

0          uint8
1          uint8
2          uint8
3          uint8
4          uint8
5          uint8
6          uint8
7          uint8
8          uint8
9          uint8
10         uint8
11         uint8
12         uint8
y-local    uint8
dtype: object

In [7]:
df4.to_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/TestSetWithIntegerYLocalAllUint8.csv',index=False)

In [8]:
df1 = pd.read_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/TrainSetWithIntegerYLocal.csv')
df2= df1.astype(np.uint8)
df2.to_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/TrainSetWithIntegerYLocalAllUint8.csv',index=False)
df2.dtypes

0          uint8
1          uint8
2          uint8
3          uint8
4          uint8
5          uint8
6          uint8
7          uint8
8          uint8
9          uint8
10         uint8
11         uint8
12         uint8
y-local    uint8
dtype: object

In [9]:
df2

         0  1  2  3   4   5   6   7  8  9  10  11  12  y-local
0        0  0  1  2   3   1   1   0  0  0   0   0   0        4
1        0  0  1  2   3   1   0   0  0  0   0   0   0        3
2        0  0  0  2   7   1   0   0  0  0   0   0   0       11
3        0  0  0  0   5   6   5   2  0  0   0   0   0        2
4        0  0  0  0   0   4   7   0  0  0   0   0   0       11
...     .. .. .. ..  ..  ..  ..  .. .. ..  ..  ..  ..      ...
1641955  0  0  1  2  34   0   0   0  0  0   0   0   0       11
1641956  0  0  0  0   3   3   0   0  0  0   0   0   0       10
1641957  0  0  0  2   8   9   9  11  3  0   0   0   0        1
1641958  0  0  0  0   0   8  27   0  0  0   0   0   0        9
1641959  0  0  0  1  14  11   0   0  0  0   0   0   0        8

[1641960 rows x 14 columns]