In [1]:
import numpy as np
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

In [2]:
df1 = pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/nov12_multiclassifier_balancePT/InputTrainSetQuantized.csv')
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,1.0,2.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.56271
1,0.0,0.0,1.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.21650
2,0.0,0.0,0.0,2.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.53616
3,0.0,0.0,0.0,0.0,5.0,6.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,-4.86447
4,0.0,0.0,0.0,0.0,0.0,4.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,6.88416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1641955,0.0,0.0,1.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.57913
1641956,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.63430
1641957,0.0,0.0,0.0,2.0,8.0,9.0,9.0,11.0,3.0,0.0,0.0,0.0,0.0,-5.68362
1641958,0.0,0.0,0.0,0.0,0.0,8.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,5.28194
1641959,0.0,0.0,0.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.66272

In [3]:
def replace(row):
  for i, item in enumerate(row):
     if row[i] >= -8 and row[i] <= -6.67:
        row[i] = 0
     elif ( row[i] >= -6.67 and row[i] <= -5.33):
        row[i] = 1 
     elif ( row[i] > -5.33 and row[i] <= -4):
        row[i] = 2
     elif ( row[i] > -4 and row[i] <= -2.67):
        row[i] = 3 
     elif ( row[i] > -2.67 and row[i] <= -1.33):
        row[i] = 4
     elif ( row[i] > -1.33 and row[i] <= 0):
        row[i] = 5 
     elif ( row[i] > 0 and row[i] <= 1.33):
        row[i] = 6
     elif ( row[i] > 1.33 and row[i] <= 2.67):
        row[i] = 7 
     elif ( row[i] > 2.67 and row[i] <= 4):
        row[i] = 8
     elif ( row[i] > 4 and row[i] <= 5.33):
        row[i] = 9 
     elif ( row[i] > 5.33 and row[i] <= 6.67):
        row[i] = 10
     else:
        row[i] = 11
  return row

In [4]:
df1['y-local'].to_csv('y-localBeforeConverting.csv', index=None)

In [5]:
df2 = pd.read_csv('y-localBeforeConverting.csv')
df2.head()

   y-local
0 -2.56271
1 -3.21650
2  7.53616
3 -4.86447
4  6.88416

In [6]:
df3 = df2.progress_apply(lambda row : replace(row)) 
df3.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [02:01<00:00, 121.93s/it]

   y-local
0      4.0
1      3.0
2     11.0
3      2.0
4     11.0

In [7]:
df3.to_csv('afterconvertingylocal.csv', index=False)

In [8]:
df1.drop('y-local', axis=1, inplace=True)
df1.head()

     0    1    2    3    4    5    6    7    8    9   10   11   12
0  0.0  0.0  1.0  2.0  3.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  2.0  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  2.0  7.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  5.0  6.0  5.0  2.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  4.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0

In [9]:
mergePD = pd.concat([df1,df2], axis = 1, join="inner")
mergePD.to_csv('TrainSetWithIntegerYLocal.csv',index=False)

In [10]:
mergePD

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,1.0,2.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
1,0.0,0.0,1.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
2,0.0,0.0,0.0,2.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
3,0.0,0.0,0.0,0.0,5.0,6.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
4,0.0,0.0,0.0,0.0,0.0,4.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1641955,0.0,0.0,1.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
1641956,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1641957,0.0,0.0,0.0,2.0,8.0,9.0,9.0,11.0,3.0,0.0,0.0,0.0,0.0,1.0
1641958,0.0,0.0,0.0,0.0,0.0,8.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
1641959,0.0,0.0,0.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0