In [1]:
import numpy as np
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

In [2]:
df1 =pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/nov12_multiclassifier_balancePT/InputTestSetQuantized.csv')
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,0.0,3.0,3.0,11.0,12.0,6.0,0.0,0.0,0.0,0.0,0.0,-3.12166
1,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,4.18320
2,0.0,0.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.88518
3,0.0,0.0,0.0,0.0,0.0,1.0,15.0,9.0,0.0,0.0,0.0,0.0,0.0,2.52617
4,0.0,0.0,0.0,1.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.10269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410483,0.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.73910
410484,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.88377
410485,0.0,0.0,0.0,0.0,0.0,6.0,11.0,1.0,0.0,0.0,0.0,0.0,0.0,1.72954
410486,0.0,0.0,0.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.51638
410487,0.0,0.0,6.0,7.0,6.0,7.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,-5.48976

In [3]:
def replace(row):
  for i, item in enumerate(row):
     if row[i] >= -8 and row[i] <= -6.67:
        row[i] = 0
     elif ( row[i] >= -6.67 and row[i] <= -5.33):
        row[i] = 1 
     elif ( row[i] > -5.33 and row[i] <= -4):
        row[i] = 2
     elif ( row[i] > -4 and row[i] <= -2.67):
        row[i] = 3 
     elif ( row[i] > -2.67 and row[i] <= -1.33):
        row[i] = 4
     elif ( row[i] > -1.33 and row[i] <= 0):
        row[i] = 5 
     elif ( row[i] > 0 and row[i] <= 1.33):
        row[i] = 6
     elif ( row[i] > 1.33 and row[i] <= 2.67):
        row[i] = 7 
     elif ( row[i] > 2.67 and row[i] <= 4):
        row[i] = 8
     elif ( row[i] > 4 and row[i] <= 5.33):
        row[i] = 9 
     elif ( row[i] > 5.33 and row[i] <= 6.67):
        row[i] = 10
     else:
        row[i] = 11
  return row

In [4]:
df1['y-local'].to_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/y-localBeforeConvertingTest.csv', index=None)

In [5]:
df2 = pd.read_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/y-localBeforeConvertingTest.csv')
df2.head()

   y-local
0 -3.12166
1  4.18320
2  1.88518
3  2.52617
4 -4.10269

In [6]:
df3 = df2.progress_apply(lambda row : replace(row)) 
df3.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:30<00:00, 30.60s/it]

   y-local
0      3.0
1      9.0
2      7.0
3      7.0
4      2.0

In [7]:
df3.to_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/afterconvertingylocalTest.csv', index=False)

In [8]:
df1.drop('y-local', axis=1, inplace=True)
df1.head()

     0    1    2    3    4     5     6    7    8    9   10   11   12
0  0.0  0.0  0.0  3.0  3.0  11.0  12.0  6.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0   0.0   6.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  9.0  7.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0   1.0  15.0  9.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  1.0  3.0   4.0   3.0  0.0  0.0  0.0  0.0  0.0  0.0

In [9]:
mergePD = pd.concat([df1,df2], axis = 1, join="inner")
mergePD.to_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/nov16_quantizeY/TestSetWithIntegerYLocal.csv',index=False)

In [10]:
mergePD

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,0.0,3.0,3.0,11.0,12.0,6.0,0.0,0.0,0.0,0.0,0.0,3.0
1,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
2,0.0,0.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
3,0.0,0.0,0.0,0.0,0.0,1.0,15.0,9.0,0.0,0.0,0.0,0.0,0.0,7.0
4,0.0,0.0,0.0,1.0,3.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410483,0.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
410484,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
410485,0.0,0.0,0.0,0.0,0.0,6.0,11.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0
410486,0.0,0.0,0.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
410487,0.0,0.0,6.0,7.0,6.0,7.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0