In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df1 = pd.read_csv('highPTset128172.csv')
df2 = pd.read_csv('lowPTset128172.csv')

In [ ]:
#make high PT train set
df1.drop('z-entry', axis=1, inplace=True)
df1.drop('n_z', axis=1, inplace=True)
n = 102537
df1_Train_HighPT=df1.iloc[:n]
#df1_Train_HighPT

In [ ]:
df2.drop('z-entry', axis=1, inplace=True)
df2.drop('n_z', axis=1, inplace=True)
n = 102537
df1_Train_LowPT=df2.iloc[:n]
df1_Train_LowPT

In [ ]:
#get equal numbers of high PT and low PT samples, put together into one big training set
concatTrainSet = pd.concat([df1_Train_LowPT, df1_Train_HighPT])

In [ ]:
#shuffle data samples in train set
shuffled_df5 = concatTrainSet.sample(frac=1).reset_index(drop=True)
shuffled_df5

In [ ]:
shuffled_df5.to_csv('shuffled_d5.csv',index=False)

In [ ]:
def myfunc(x):
    if x < 0.3: 
        return 0
    else:
        return 1
    
shuffled_df5['pt'] = shuffled_df5['pt'].apply(myfunc)
shuffled_df5

In [ ]:
#these are the labels for the training set
shuffled_df5['pt'].to_csv('labels.csv',index=False)

In [ ]:
shuffled_df5.drop('y-local', axis=1, inplace=True)
shuffled_df5.drop('pt', axis=1, inplace=True)
shuffled_df5

In [ ]:
#apply 800 electron threshold
def counterNonZeroRows(X):
    countRows = 0
    for i in X:
        checkOne = False
        for j in i:
            if (j >= 800):
                checkOne = True
        if checkOne == True:
            countRows +=1
    return countRows

In [ ]:
list1 = []
for index, row in shuffled_df5.iterrows():
    X = row.values
    X = np.reshape(X,(13,21))
    nonZeroRows = counterNonZeroRows(X)
    list1.append(nonZeroRows)

In [ ]:
df_ySize = pd.DataFrame(list1)
df_ySize.columns = ['y-size']
df_ySize.to_csv('ysize1.csv',index=False)

In [ ]:
dfA = pd.read_csv('ysize1.csv')
dfA

In [ ]:
dfB = pd.read_csv('shuffled_d5.csv',usecols = ['y-local'])
dfB

In [ ]:
#now concatenate both dataframes since input will be: ysize and y_local
dfE = pd.concat([dfA,dfB],axis=1)
#dfE.to_csv('all.csv',index=False)
dfE

In [ ]:
dfE.to_csv('InputTrainingSet.csv',index=False)

In [ ]:
#**************************************now prepare test set**************************************

In [2]:
df1 = pd.read_csv('highPTset128172.csv')
df2 = pd.read_csv('lowPTset128172.csv')

In [3]:
#make high PT test set
df1.drop('z-entry', axis=1, inplace=True)
df1.drop('n_z', axis=1, inplace=True)
n = 102537
df1_Train_HighPT=df1.iloc[n:]
#df1_Train_HighPT

In [4]:
df2.drop('z-entry', axis=1, inplace=True)
df2.drop('n_z', axis=1, inplace=True)
n = 102537
df1_Train_LowPT=df2.iloc[n:]
df1_Train_LowPT

,y-local,pt,0,1,2,3,4,5,6,7,...,263,264,265,266,267,268,269,270,271,272
102537,0.863359,0.279623,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102538,-2.359130,0.250050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102539,-3.870280,0.177545,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102540,-1.222300,0.295723,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102541,7.946760,0.283833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128167,-3.369360,0.191881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
128168,-1.428030,0.123561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
128169,4.350380,0.207363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
128170,-6.918600,0.190253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
128171,1.836620,0.184438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
concatTestSet = pd.concat([df1_Train_LowPT, df1_Train_HighPT])

In [6]:
shuffled_df5_Test = concatTestSet.sample(frac=1).reset_index(drop=True)
shuffled_df5_Test

,y-local,pt,0,1,2,3,4,5,6,7,...,263,264,265,266,267,268,269,270,271,272
0,4.87171,2.191190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.33424,0.185314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.76555,0.973620,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.31566,1.337790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.35086,0.270891,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51265,1.01316,1.706740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51266,-4.55828,0.896679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51267,-6.27284,0.158010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51268,2.20787,1.635630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51269,-4.97039,0.198371,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
shuffled_df5_Test.to_csv('shuffled_d5_Test.csv',index=False)

In [8]:
def myfunc(x):
    if x < 0.3: 
        return 0
    
    else:
        return 1
shuffled_df5_Test['pt'] = shuffled_df5_Test['pt'].apply(myfunc)
shuffled_df5_Test

,y-local,pt,0,1,2,3,4,5,6,7,...,263,264,265,266,267,268,269,270,271,272
0,4.87171,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.33424,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.76555,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.31566,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.35086,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51265,1.01316,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51266,-4.55828,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51267,-6.27284,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51268,2.20787,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51269,-4.97039,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
shuffled_df5_Test['pt'].to_csv('labelsTest.csv',index=False)

In [10]:
shuffled_df5_Test.drop('y-local', axis=1, inplace=True)
shuffled_df5_Test.drop('pt', axis=1, inplace=True)
shuffled_df5_Test

,0,1,2,3,4,5,6,7,8,9,...,263,264,265,266,267,268,269,270,271,272
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
def counterNonZeroRows(X):
    countRows = 0
    for i in X:
        checkOne = False
        for j in i:
            if (j >= 800):
                checkOne = True
        if checkOne == True:
            countRows +=1
    #print(countRows)
    return countRows

In [12]:
list1_Test = []
for index, row in shuffled_df5_Test.iterrows():
    X = row.values
    X = np.reshape(X,(13,21))
    nonZeroRows = counterNonZeroRows(X)
    list1_Test.append(nonZeroRows)

In [13]:
df_ySize_Test = pd.DataFrame(list1_Test)
df_ySize_Test.columns = ['y-size']
df_ySize_Test.to_csv('ysize1_Test.csv',index=False)

In [14]:
#now concatenate both dataframes
dfA_Test = pd.read_csv('ysize1_Test.csv')
dfA_Test

       y-size
0           5
1           4
2           2
3           2
4           4
...       ...
51265       3
51266       2
51267       2
51268       3
51269       4

[51270 rows x 1 columns]

In [15]:
dfB_Test = pd.read_csv('shuffled_d5_Test.csv',usecols = ['y-local'])
dfB_Test

       y-local
0      4.87171
1      2.33424
2     -4.76555
3     -1.31566
4      0.35086
...        ...
51265  1.01316
51266 -4.55828
51267 -6.27284
51268  2.20787
51269 -4.97039

[51270 rows x 1 columns]

In [16]:
dfE_Test = pd.concat([dfA_Test,dfB_Test],axis=1)
#dfE.to_csv('all.csv',index=False)
dfE_Test

       y-size  y-local
0           5  4.87171
1           4  2.33424
2           2 -4.76555
3           2 -1.31566
4           4  0.35086
...       ...      ...
51265       3  1.01316
51266       2 -4.55828
51267       2 -6.27284
51268       3  2.20787
51269       4 -4.97039

[51270 rows x 2 columns]

In [17]:
dfE_Test.to_csv('InputTestSet.csv',index=False)

In [ ]:
df5PREPARE= pd.read_csv('shuffled_d5_Test.csv')

dfTruePT = df5PREPARE['pt']

dfTruePT.to_csv('truePT.csv', index=False)